<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>TODO LIST</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
	<div id="todo-table">
		<form>
			<input type="text" name="item" placeholder="Add new item..." required/>
			<button type="Submit">Add Item</button>>
		</form>
		<ul>
			<li>Item 1</li>
			<li>Item 1</li>
			<li>Item 1</li>
			<li>Item 1</li>
		</ul>
	</div>
</body>
</html>